
<!-- ========================== expired tasks list ============================ -->

<div class="card">
  <h5 class="card-header" id="header">
    Expired Tasks List
  </h5>

  <br>

  <table class="table" fixed-header>
    <thead style="background-color: darkslategray;color: white;">
      <th>S.No</th>
      <th>Task</th>
      <th>Expired Date</th>
      <th>Status</th>
    </thead>
    <tbody>
      <tr *ngFor="let i of expiredTaskList;let index = index">
        <td>{{index+1}}</td>
        <td>{{i?.taskName}}</td>
        <td>{{i?.expires_At | date}}</td>
        <td>{{i?.status}}</td>
      </tr>
    </tbody>
  </table>

</div>