@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

#header{
    text-align: center;
    color: white;
    background-color: #5592ad;
}

